run = "python main.py"

[nix]
channel = "stable-24_05"

[packager]
language = "python3"

[packager.features]
packageSearch = true
guessImports = true

[languages.python3]
script = "python -m pip install -r requirements.txt"

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[[deployment.build]]
command = "pip install -r requirements.txt"
